html {
    background-image: url("../images/savannah.jpg");
    background-repeat:repeat;
    max-width: 100%;
}
h1 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(55, 55, 117, 0.63);
    text-align: center;
    width: 100%;
    float: center;
    display: center;
    border: 2px solid rgba(0, 0, 0, 0.397);
}
p {
    font-family: 'Oswald', sans-serif;
}
button {
    margin: 10px;
    display: center;
    border: 3px solid black;
    border-radius: 12%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.671);
}
div {
    margin: 10px;
    float: left;
}
form {
    margin: 10px;
    text-align: center;
    background-color: rgba(73, 73, 238, 0.411);
    border: 2px solid rgba(0, 0, 0, 0.397);
}
input {
    margin: 10px;
    border: 3px solid black;
    font-family: 'Oswald', sans-serif;
}

#gif-btns {
    margin-top: 0px;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}