h1 {
    font-size: 20px;
    background-color: rgba(0, 0, 114, 0.63);
    text-align: center;
    width: 100%;
    float: center;
    display: center;
}
button {
    margin: 10px;
    display: center;
}
div {
    margin: 10px;
}
form {
    margin: 10px;
    text-align: center;
    background-color: rgba(73, 73, 238, 0.411)
}
input {
    margin: 10px;
}
wrapper {
    display: grid;
}
