html {
    background-image: url("../images/savannah.jpg");
    background-repeat: repeat;
    max-width: 100%;
}
h1 {
    font-size: 30px;
    color: rgb(236, 203, 130);
    font-family: 'Oswald', sans-serif;
    background-color: rgba(55, 55, 117, 0.63);
    text-align: center;
    max-width: 100%;
    float: center;
    display: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.397); */
}
p {
    font-family: 'Oswald', sans-serif;
}
button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin: 10px;
    border: 2px solid rgba(74, 118, 126, 0.658);
    border-radius: 15%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.671);
}
button:hover {
    background-color: rgb(236, 203, 130);
}
div {
    margin: 10px;
    float: left;
}
form {
    margin: 10px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.411);
    max-width: 100%;
}
input {
    margin: 10px;
    border: 1px solid rgba(74, 118, 126, 0.658);
    font-family: 'Oswald', sans-serif;
}
input:hover {
    background-color: rgb(236, 203, 130);
}
#gif-btns {
    margin-top: 0px;
}
label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
#wrapper {
    float: center;
    width: 100%;
    max-width: 960px;
}